<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>StackUp CMS</title>
	<link rel="stylesheet" href="/index.css">
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="index.js"></script>
</head>
<body>

	<h1>StackUp CMS</h1>

	<hr>
	
	{{{ body }}}

	<div class="footer">
		<hr>
		<button type="button" id="backBtn">Back</button>
	</div>
	
</body>
</html>
