<h1>Page Editor</h1>

<form>
    <p>Page Name: <input type="text" title="name" ng-model="pageEdit.name"></p>
    <p>Published Date: <input type="text" ng-model="pageEdit.lastmodified" ></p>
    <p>Header image: </p><input type="file" name="pic" accept="image/*">
    <p>Content:</p> <textarea name="Content" ng-model="pageEdit.caption"></textarea>
    <input type="button" value="Submit" ng-click="pageEdit.submitChange()">
</form>