<h1 class="header">Pages</h1>

<div ng-show="page.showWarning" style="border-radius: 5%; border: 1px solid yellow; margin-bottom: 1%;">
    <form   class="form-horizontal"
            style="margin-left : 5%; margin-top: 2%"
            role="form" name="deleteConfirmForm"
            ng-submit="page.deletePage()">
        <div class="form-group has-warning">
            <label for="fieldDelete" class="col-sm-4 control-label">Type 'DELETE' to confirm: </label>
            <div class="col-sm-4">
                <input type="text" class="form-control form-control-warning"
                       required
                       id="fieldDelete"
                       ng-model="page.delString">
            </div>
            <button type="submit"
                    class="btn btn-danger"
                    ng-disabled="deleteConfirmForm.$invalid">
                    Delete
            </button>
            <button ng-click="page.abort()"
                    class="btn btn-default">
                    Abort
            </button>
        </div>
    </form>
</div>

<input type="button" value="New Page" ng-click="page.addPage()">

<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Author</th>
        <th>Last Modified</th>
        <th></th>
        <th></th>
    </tr>

    <tr ng-repeat="p in page.pages">
    <td>{{p.name}}</td>
        <td>{{p.author}}</td>
        <td>{{p["last-modified"]}}</td>
        <td><input type="button" value="edit" ng-click="page.editPage($index)" ></td>
        <td> <input type="button" value="Delete" ng-click="page.preDelete($index)"></td>
    </tr>

</table>