<h1>Users</h1>

<input type="button" value="New User" ng-click="user.addUser()">
<table class="table">

    <tr>
        <th>Username</th>
        <th>Name</th>
        <th>Email</th>
        <th>Permission</th>
        <th></th>
        <th></th>
    </tr>

    <tr ng-repeat="u in user.users">
        <td>{{u.username}}</td>
        <td>{{u.name}}</td>
        <td>{{u.email}}</td>
        <td>{{u.permission}}</td>
        <td><input type="button" value="Edit" ng-click="user.edit($index)"></td>
        <td> <input type="button" value="Delete" ng-click="user.deleteUser($index)"></td>
    </tr>
</table>